<div *ngIf="post$ | async as post; else loading">
  <div class="post">
    <div class="header">
      <h1>{{post.title}}</h1>
      <button routerLink="/" class="btn btn-link">Back to the main</button>
    </div>

    <div class="info">
      <strong>By {{post.author}}</strong>
      <small>{{post.date | date: 'medium':null:'pl'}}</small>
    </div>

    <div>
      <div *ngIf="post.photo" class="post-image">
        <img [src]="post.photo" alt="Post image">
      </div>
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>

  </div>
</div>
<ng-template #loading>
  <div class="spinner d-flex center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
