.post {
  margin-top: 40px;

  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;

    .header-left {
      display: flex;
      align-items: center;
    }

    .header-right {
      .info {
        display: flex;
        flex-direction: column;

        p {
          text-align: right;
          margin: 0;

          &.author {
            font-weight: 500;
          }
        }
      }
    }

    button {
      display: flex;

      &.btn-arrow {
        .arrow-back {
          transition: .4s;
        }

        &:hover {
          .arrow-back {
            transform: translateX(-4px);
          }
        }
      }
    }

    h1 {
      margin-bottom: 0;
      margin-left: 12px;
    }
  }

  .post-image {
    height: 460px;
    object-fit: cover;

    img {
      object-fit: cover;
      height: 100%;
      border-radius: 7px;
      width: 100%;
    }
  }

  h1 {
    margin-bottom: .5rem;
  }

  .info {
    strong {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .post {
    .post-header {
      flex-direction: column;

      .header-right {
        .info {
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
