<div *ngIf="post$ | async as post; else loading">
  <div class="post container">
    <div class="post-header">
      <div class="header-left">
        <button routerLink="/" class="btn btn-link btn-arrow">
          <mat-icon class="arrow-back">arrow_back</mat-icon>
        </button>
        <h1>{{post.title}}</h1>
      </div>
      <div class="header-right">
        <div class="info">
          <p>{{post.date | date: 'medium':null:'pl'}}</p>
          <p class="author">By {{post.author}}</p>
        </div>
      </div>
    </div>

    <div>
      <div *ngIf="post.photo" class="post-image">
        <img [src]="post.photo" alt="Post image">
      </div>
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="spinner d-flex center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
