<div class="about-us d-flex center">
  <div class="about-us-pic">
    <img src="assets/img/about-us-pic.jpg" alt="about-us-pic">
  </div>
  <p>Your About page can and will be more comprehensive than a single mission statement, but to draw people in, you need
    to succinctly state your goal in the industry upfront. What is your business here to do? Why should your website
    visitors care? This information will give the reader something to remember about your company long after they leave
    your website.</p>
</div>
