.container {
  overflow: visible;
}

.about-us {
  margin-top: 90px;

  .about-us-pic {
    max-width: 720px;
    width: 100%;
    object-fit: cover;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 6px;
      max-width: 626px;
    }

    &::before {
      content: '';
      position: absolute;
      left: -50px;
      top: -30px;
      background-image: url('../../assets/img/tape.png');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: -3px;
      left: 36em;
      background-image: url('../../assets/img/wave.png');
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
  }

  p {
    max-width: 600px;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    text-align: justify;
    margin-left: -60px;
    color: #333333;
    z-index: 2;
  }
}

.goals {
  h2 {
    font-family: 'Poppins', sans-serif;
    color: #222222;
    font-weight: 500;
    font-size: 47px;
    margin: 140px 0 100px;
    text-align: center;
  }

  .big-text {
    text-align: center;
    margin-bottom: 140px;

    ._first {
      font-weight: 250;
      font-size: 135px;
      color: #916251;
      line-height: 100px;
      margin-left: -1em;
    }

    ._second {
      font-weight: 275;
      font-size: 134px;
      line-height: 136px;
      color: #847966;
      -webkit-text-stroke: 1px #000000;
      margin-left: 1em;
    }

    ._third {
      font-family: 'WindSong', cursive;
      font-weight: 400;
      font-size: 103px;
      line-height: 72px;
      color: #333333;
      margin-left: 3em;
    }
  }
}

footer {
  background-image: url('../../assets/img/footer.png');

  .footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .heading {
    font-weight: 100;
    font-size: 96px;
    line-height: 144px;
    color: #000000;
    margin: 115px 0 30px;
  }

  p {
    font-weight: 100;
    font-size: 56px;
    line-height: 84px;
    color: #000000;
    margin-bottom: 40px;
  }

  .socials {
    display: flex;
    align-items: center;
    margin: 40px 0;

    a {
      transition: .4s;

      &:hover {
        transform: translateY(-4px);
      }

      &:first-child {
        margin-right: 12px;
      }

      img {
        max-width: 38px;
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .about-us {
    .about-us-pic {
      display: flex;
      justify-content: center;

      &::after {
        display: none;
      }
    }

    p {
      font-size: 22px;
      width: 100%;
      line-height: 40px;
      margin-left: unset;
      text-align: center;
    }

    flex-direction: column;
  }
}

@media screen and(max-width: 730px) {
  .goals {
    h2 {
      font-size: 34px;
      margin: 84px 0 60px;
    }

    .big-text {
      ._first {
        font-size: 90px;
      }

      ._second {
        font-size: 80px;
        line-height: 42px;
      }

      ._third {
        font-size: 60px;
      }
    }
  }

  footer {
    .heading {
      font-size: 40px;
      line-height: 40px;
    }

    p {
      font-size: 44px;
      line-height: 50px;
    }
  }
}

@media screen and (max-width: 500px) {
  .about-us {
    p {
      font-size: 20px;
      line-height: 35px;
    }

    .about-us-pic {
      &::before {
        display: none;
      }
    }
  }
  .goals {
    h2 {
      font-size: 27px;
      margin: 62px 0 50px;
    }

    .big-text {
      ._first, ._second, ._third {
        margin-left: unset;
      }
    }
  }
  footer {
    .heading {
      font-size: 25px;
    }

    p {
      font-size: 28px;
      line-height: 24px;
    }

    .socials {
      margin: 24px 0;
    }
  }
}
