@import "src/variables";

::ng-deep {
  .mat-form-field-appearance-outline {
    &.mat-focused {
      mat-label {
        color: #333333;
      }

      .mat-form-field-outline-thick {
        color: #313131;
      }
    }

    &:hover {
      .mat-form-field-outline-thick {
        color: #676767;
      }
    }
  }
}


form {
  max-width: 600px;
  margin: 150px auto;

  .field {
    width: 100%;
  }

  .heading {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .actions {
    justify-content: flex-end;
  }
}
