<form class="card" [formGroup]="form" (ngSubmit)="login()">
  <h2 class="heading">Login to admin panel</h2>

  <div class="alert alert-danger" *ngIf="authService.error$ | async as error">
    {{error}}
  </div>
  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>
  <mat-form-field class="field" appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput autocomplete="off"
      required
      formControlName="email"
    >
    <mat-error *ngIf="form.get('email').errors?.['required']
         && form.get('email').touched">
      Required
    </mat-error>
    <mat-error *ngIf="form.get('email').errors?.['email']
         && form.get('email').touched">
      Incorrect email format
    </mat-error>
  </mat-form-field>
  <mat-form-field class="field" appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      required
      type="password"
      autocomplete="new-password"
      formControlName="password"
    >
    <mat-error *ngIf="form.get('password').errors?.['required']
         && form.get('password').touched">
      Required
    </mat-error>
    <mat-error *ngIf="form.get('password').errors?.['minlength']
         && form.get('password').touched">
      Password should contain at least {{form.get('password').errors?.['minlength'].requiredLength}} symbols
    </mat-error>
  </mat-form-field>
  <div class="d-flex actions">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid || submitted"
    >Login
    </button>
  </div>
</form>
