@import "src/variables";

::ng-deep {
  .mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding: 20px 0 1em 0;
      border: none;
    }

    &.mat-focused {
      .mat-form-field-outline-thick {
        color: #1c1c1c;
      }
    }

    &:hover {
      .mat-form-field-outline-thick {
        color: #6c6c6c;
      }
    }

    input {
      text-align: center;
      font-size: 18px;
    }
  }
}

.search-box {
  width: 100%;
}

table {
  margin-bottom: 40px;
  overflow-x: auto;
  white-space: nowrap;

  &::-webkit-scrollbar {
    height: 6px;
    background-color: $light-clr;
  }

  th, td {
    font-size: 18px;
  }

  tr {
    transition: .4s;
    cursor: pointer;

    &:hover {
      background-color: $light-clr;
    }

    &.deleted {
      background-color: #ffe8e8;
    }
  }
}

.btn {
  margin-right: 0;

  .disabled {
    background-color: unset;
    opacity: .8;
    color: #000000;
  }
}

.wrapper {
  margin-top: 40px;
}

@media screen and(max-width: 1000px) {
  table {
    display: block;
  }
}
