<div class="wrapper" *ngIf="!errorMessage && !noPostsMessage && !loading">
  <mat-form-field class="search-box" appearance="outline">
    <input
      matInput
      autocomplete="off"
      #searchInput
      placeholder="Search in posts..."
      (input)="search(searchInput.value)"
    >
  </mat-form-field>

  <table *ngIf="displayedPosts?.length">
    <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of displayedPosts let idx = index"
        #tableRow
    >
      <td>{{idx + 1}}</td>
      <td>{{post.author}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date | date: 'medium':null:'pl'}}</td>
      <td>
        <button
          class="btn btn-edit"
          [routerLink]="['/admin', 'post', post.id, 'edit']"
        >
          Edit
        </button>
        <button
          class="btn btn-delete"
          (click)="remove(post.id, idx)"
          [disabled]="submitted"
        >Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div
  *ngIf="errorMessage || nothingFoundMessage || noPostsMessage"
  class="message-empty text-center">
  {{errorMessage || nothingFoundMessage || noPostsMessage}}
</div>

<div
  class="spinner d-flex center"
  *ngIf="loading">
  <app-spinner></app-spinner>
</div>
