<div *ngIf="posts?.length; else loading">
  <div class="form-control">
    <input
      #searchInput
      type="text"
      placeholder="Search in posts..."
      (input)="search(searchInput.value)"
    >
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody *ngIf="displayedPosts">
    <tr *ngFor="let post of displayedPosts; let idx = index">
      <td>{{idx + 1}}</td>
      <td>{{post.author}}</td>
      <td>{{post.title}}</td>
      <td>{{post.date | date: 'medium'}}</td>
      <td>
        <button
          class="btn btn-link btn-edit"
          [routerLink]="['/admin', 'post', post.id, 'edit']"
        >
          Edit
        </button>
        <button
          class="btn btn-danger"
          (click)="remove(post.id)"
          [disabled]="submitted"
        >Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div
  *ngIf="displayedPosts?.length === 0"
  class="message-empty text-center">
  {{nothingFoundMessage}}
</div>

<ng-template #loading>
  <div class="spinner d-flex center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
