@import "src/variables";

.posts {
  width: 100%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

app-post {
  max-width: 370px;
  width: 100%;

  &:nth-child(odd) {
    .card {
      .card-image {
        height: 370px !important;
      }
    }
  }

  &:nth-child(even) {
    .card {
      .card-image {
        height: 533px !important;
      }
    }
  }

  &:nth-child(4n+2),
  &:nth-child(2n+2),
  &:nth-child(2n+1),
  &:nth-child(5n+1) {
    .card {
      transform: translateY($card-transformPX);
    }
  }

  &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(5) {
    .card {
      transform: none;
    }
  }
}

pagination-controls {
  transform: translateY(-10px);

  .ngx-pagination {
    li {
      border-radius: 4px;
      transition: .3s;

      &.current {
        background: #5e5e5e;

        &:hover {
          background: #5e5e5e;
        }
      }
    }

    a {
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .posts {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  app-post:nth-child(4n+2),
  app-post:nth-child(2n+2),
  app-post:nth-child(2n+1),
  app-post:nth-child(5n+1) {
    .card {
      transform: none;
    }
  }
  app-post:nth-child(odd) {
    &:not(:first-child) {
      .card {
        transform: translateY(-140px);
      }
    }
  }
}

@media screen and (max-width: 834px) {
  app-post {
    max-width: 560px;

    .card {
      .card-image {
        max-width: 100% !important;
      }
    }
  }

  app-post:nth-child(odd) {
    &:not(:first-child) {
      .card {
        transform: none;
      }
    }
  }
}

