@import "src/variables";

.posts {
  width: 100%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

app-post {
  max-width: 370px;
  width: 100%;

  &:nth-child(odd) {
    .card {
      .card-image {
        height: 370px !important;
      }
    }
  }

  &:nth-child(even) {
    .card {
      .card-image {
        height: 533px !important;
      }
    }
  }

  &:nth-child(4n+2),
  &:nth-child(2n+2),
  &:nth-child(2n+1),
  &:nth-child(5n+1) {
    .card {
      transform: translateY($card-transformPX);
    }
  }

  &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(5) {
    .card {
      transform: none;
    }
  }
}

pagination-controls {
  transform: translateY(-10px);

  .ngx-pagination {
    li {
      border-radius: 4px;
      padding: 0.1875rem 0.625rem;
      transition: .3s;

      &.current {
        background: #5e5e5e;

        &:hover {
          background: #5e5e5e;
        }
      }

      &:hover {
        cursor: pointer;
        background: #f0f0f0;
      }
    }

    a {
      padding: 0;

      &:hover {
        background-color: unset;
      }
    }
  }
}

