<div
  *ngIf="posts$ | async as posts; else loading" class="container d-flex d-flex-column center">
  <div class="posts">
  <app-post
    *ngFor="let post of posts | paginate:{
    itemsPerPage: tableSize,
    currentPage: page,
    totalItems: count
    }; let i = index"
    [post]="post"
  ></app-post>
  </div>

  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    [maxSize]="5"
    (pageChange)="onPageChange($event)"
  ></pagination-controls>
</div>

<ng-template #loading>
  <div class="spinner d-flex center">
    <app-spinner></app-spinner>
  </div>
</ng-template>
