<header class="bg-primary header">
  <nav class="navbar bg-primary container">
    <div class="nav-left d-flex center">
      <mat-icon routerLink="/" class="exit-icon">exit_to_app</mat-icon>
      <div class="logo-admin d-flex center">
        <div class="avatar d-flex center">
          <mat-icon class="avatar-icon">person</mat-icon>
        </div>
        <span [routerLink]="['/admin', 'dashboard']">
          Articles.net
          <span [routerLink]="['/admin', 'dashboard']" class="admin-text">Admin</span>
        </span>
      </div>
    </div>
    <ul class="nav-right" *ngIf="auth.isAuthenticated()">
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'dashboard']">Dashboard</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'create']">New post</a>
      </li>
      <li>
        <a href="#" (click)="logout($event)">Log out</a>
      </li>
    </ul>
  </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
