.header {
  .admin-text {
    margin-left: 15.4em;
    cursor: pointer;
  }

  .navbar {
    display: flex;

    .nav-right {
      display: flex;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 1230px) {
  .header {
    .admin-text {
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
